{% extends "learning_logs/base.html" %} 
{% load bootstrap4 %}

{% block content %}
<h3>Dodaj nowy temat: </h3>
  <form action="{% url 'learning_logs:new_topic' %}" method='post' enctype= "multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name='submit' class="btn btn-primary">Dodaj temat</button>
    <input class="btn btn-primary" type=button value="Wróć" onClick="javascript:history.go(-1);">
    {% endbuttons %}
  </form>
{% endblock content %}
