{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1 style="text-align:center;"> Tematy </h1>
{% endblock page_header %}

{% block content %}

<h3 style="text-align:center"><a href =" {% url 'learning_logs:new_topic' %}" > Dodaj nowy temat</a></h3>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for topic in topics %}
                <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" 
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" 
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>{{ topic }}</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <!<image href="topicPhoto.jpeg" width="100%" height="225" />
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">{{ topic }}</text></svg>
                            <div class="card-body">
                                <p class="card-text"> {{ topic }} </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" 
                                            onclick="location.href='{% url 'learning_logs:topic' topic.id %}'">
                                            Pokaż więcej
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" 
                                            onclick="location.href='{% url 'learning_logs:remove_topic' topic.id %}'">
                                            Usuń
                                        </button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                </div>
            {% empty %} 
                <h3> Nie został jeszcze dodany żaden temat.</h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}