{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}
{% block header %} 
    <h2>Zmiana hasła</h2> 
{% endblock header %}

{% block content %}
    <h1 style="text-align:center;"> Zmiana hasła </h1>
    <p style="text-align:center;"> Wypełnij poniższy formularz, aby zmienić hasło. </p>
    <form method='post'>
        {% csrf_token %}
	    {% bootstrap_form form %}
	    {% buttons %}
            <button name='submit' class="btn btn-primary">Zmień hasło</button>
	    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'users:password_change' %}" />
    </form>
{% endblock content %}